/* ------------------ */
/* Notion X Overrides */
/* ------------------ */

/* 기본 페이지 레이아웃 조정 */
.notion-container .notion-page {
  width: 100% !important;
  padding: 0 !important;
  margin-top: 0 !important;
}

.notion {
  background-color: transparent !important;
}

/* 2. 비디오, 이미지 등 에셋 레이아웃 조정 */
.notion-asset-wrapper {
  width: 100%;
  margin: 2rem 0;
}

.notion-asset-wrapper div {
  width: 100%;
  height: auto !important;
}

.notion-code {
  background: var(--code);
  color: var(--text);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow-x: auto; /* 가로 스크롤 추가 */
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}
